#body{
    overflow: hidden;
}
.nome{
    background-color: #000000;
    padding: 12px 0;
    text-align: center;
    font-size: 30px;
}
.nome2{
    padding: 12px 0;
    text-align: center;
    font-size: 30px;
}
.pet{
    border: black solid;
    width: 100%;
    max-width: 500px;
    height: 250px;
    border-radius: 40px;
}
#imgbloco{
    padding-top: 30px; 
    text-align: center;
}

.botao{
    padding: 6px 50px;
    background: #777;
    color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .botao:hover{
    background: #222;
  }
  
  .botao:active{
    background: #777;
  }
  
  #botao{
      text-align: left;
  }

  .barra{
    padding: 8px 50px;
    background: #777;
    color: #f2f2f2;
    border-radius: 4px;
  }

  .lado{
      width:100px;
  }

  #fome{
      width:100%;
  }

  #higiene{
    width:100%;
}

  #sono{
    width:100%;
}

  #diversao{
    width:100%;
}

  #social{
    width:100%;
}