.nome{
    background-color: #000000;
    padding: 12px 0;
    text-align: center;
}
.pet{
    border: black solid;
}
#imgbloco{
    text-align: center;
    padding-top: 10px;
}

.botao{
    padding: 6px 50px;
    background: #777;
    color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .botao:hover{
    background: #222;
  }
  
  .botao:active{
    background: #777;
  }
  
  #botao{
      text-align: left;
  }

  .barra{
    padding: 8px 50px;
    background: #777;
    color: #f2f2f2;
    border-radius: 4px;
  }

  .lado{
      width:100px;
  }